NoteIt/Connected Services/ServiceMantenedorCliente/WebServiceMantenedorCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="webGuardarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transacciones">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notas" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="webGuardarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="webEliminarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webEliminarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="webActualizarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webActualizarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="webListarCliente">
        <s:complexType />
      </s:element>
      <s:element name="webListarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webListarClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webBuscarClienteResult" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webPosicionCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fila" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webPosicionClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webPosicionClienteResult" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="webGuardarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webGuardarCliente" />
  </wsdl:message>
  <wsdl:message name="webGuardarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webGuardarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webEliminarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webEliminarCliente" />
  </wsdl:message>
  <wsdl:message name="webEliminarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webEliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webActualizarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="webActualizarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webListarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webListarCliente" />
  </wsdl:message>
  <wsdl:message name="webListarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webListarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webBuscarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webBuscarCliente" />
  </wsdl:message>
  <wsdl:message name="webBuscarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webBuscarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webPosicionClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webPosicionCliente" />
  </wsdl:message>
  <wsdl:message name="webPosicionClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webPosicionClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMantenedorClienteSoap">
    <wsdl:operation name="webGuardarCliente">
      <wsdl:input message="tns:webGuardarClienteSoapIn" />
      <wsdl:output message="tns:webGuardarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webEliminarCliente">
      <wsdl:input message="tns:webEliminarClienteSoapIn" />
      <wsdl:output message="tns:webEliminarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webActualizarCliente">
      <wsdl:input message="tns:webActualizarClienteSoapIn" />
      <wsdl:output message="tns:webActualizarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webListarCliente">
      <wsdl:input message="tns:webListarClienteSoapIn" />
      <wsdl:output message="tns:webListarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webBuscarCliente">
      <wsdl:input message="tns:webBuscarClienteSoapIn" />
      <wsdl:output message="tns:webBuscarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webPosicionCliente">
      <wsdl:input message="tns:webPosicionClienteSoapIn" />
      <wsdl:output message="tns:webPosicionClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMantenedorClienteSoap" type="tns:WebServiceMantenedorClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webGuardarCliente">
      <soap:operation soapAction="http://tempuri.org/webGuardarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webEliminarCliente">
      <soap:operation soapAction="http://tempuri.org/webEliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/webActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webListarCliente">
      <soap:operation soapAction="http://tempuri.org/webListarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarCliente">
      <soap:operation soapAction="http://tempuri.org/webBuscarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webPosicionCliente">
      <soap:operation soapAction="http://tempuri.org/webPosicionCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMantenedorClienteSoap12" type="tns:WebServiceMantenedorClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webGuardarCliente">
      <soap12:operation soapAction="http://tempuri.org/webGuardarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webEliminarCliente">
      <soap12:operation soapAction="http://tempuri.org/webEliminarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webActualizarCliente">
      <soap12:operation soapAction="http://tempuri.org/webActualizarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webListarCliente">
      <soap12:operation soapAction="http://tempuri.org/webListarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarCliente">
      <soap12:operation soapAction="http://tempuri.org/webBuscarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webPosicionCliente">
      <soap12:operation soapAction="http://tempuri.org/webPosicionCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMantenedorCliente">
    <wsdl:port name="WebServiceMantenedorClienteSoap" binding="tns:WebServiceMantenedorClienteSoap">
      <soap:address location="https://localhost:44351/WebServiceMantenedorCliente.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMantenedorClienteSoap12" binding="tns:WebServiceMantenedorClienteSoap12">
      <soap12:address location="https://localhost:44351/WebServiceMantenedorCliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>