NoteIt/Connected Services/ServiceMantenedorCliente/WebServiceMantenedorCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="webGuardarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Transacciones">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tareas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Libretas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo_tareas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo_libretas" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_tareas" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_libretas" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="webGuardarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="webEliminarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webEliminarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="webActualizarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webActualizarClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="webListarCliente">
        <s:complexType />
      </s:element>
      <s:element name="webListarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webListarClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webBuscarClienteResult" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarTarea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titulo_tareas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarTareaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webBuscarTareaResult" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarLibreta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titulo_libretas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webBuscarLibretaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webBuscarLibretaResult" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webPosicionCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fila" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webPosicionClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webPosicionClienteResult" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webRetornarCliente">
        <s:complexType />
      </s:element>
      <s:element name="webRetornarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webRetornarClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webAgregarTarea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webAgregarTareaResponse">
        <s:complexType />
      </s:element>
      <s:element name="webAgregarLibreta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="transacciones" type="tns:Transacciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webAgregarLibretaResponse">
        <s:complexType />
      </s:element>
      <s:element name="webListarTareas">
        <s:complexType />
      </s:element>
      <s:element name="webListarTareasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webListarTareasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webListarLibretas">
        <s:complexType />
      </s:element>
      <s:element name="webListarLibretasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="webListarLibretasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webEliminarTarea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titulo_tareas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webEliminarTareaResponse">
        <s:complexType />
      </s:element>
      <s:element name="webEliminarLibreta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="titulo_libretas" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="webEliminarLibretaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="webGuardarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webGuardarCliente" />
  </wsdl:message>
  <wsdl:message name="webGuardarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webGuardarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webEliminarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webEliminarCliente" />
  </wsdl:message>
  <wsdl:message name="webEliminarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webEliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webActualizarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webActualizarCliente" />
  </wsdl:message>
  <wsdl:message name="webActualizarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webActualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webListarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webListarCliente" />
  </wsdl:message>
  <wsdl:message name="webListarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webListarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webBuscarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webBuscarCliente" />
  </wsdl:message>
  <wsdl:message name="webBuscarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webBuscarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webBuscarTareaSoapIn">
    <wsdl:part name="parameters" element="tns:webBuscarTarea" />
  </wsdl:message>
  <wsdl:message name="webBuscarTareaSoapOut">
    <wsdl:part name="parameters" element="tns:webBuscarTareaResponse" />
  </wsdl:message>
  <wsdl:message name="webBuscarLibretaSoapIn">
    <wsdl:part name="parameters" element="tns:webBuscarLibreta" />
  </wsdl:message>
  <wsdl:message name="webBuscarLibretaSoapOut">
    <wsdl:part name="parameters" element="tns:webBuscarLibretaResponse" />
  </wsdl:message>
  <wsdl:message name="webPosicionClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webPosicionCliente" />
  </wsdl:message>
  <wsdl:message name="webPosicionClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webPosicionClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webRetornarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:webRetornarCliente" />
  </wsdl:message>
  <wsdl:message name="webRetornarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:webRetornarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="webAgregarTareaSoapIn">
    <wsdl:part name="parameters" element="tns:webAgregarTarea" />
  </wsdl:message>
  <wsdl:message name="webAgregarTareaSoapOut">
    <wsdl:part name="parameters" element="tns:webAgregarTareaResponse" />
  </wsdl:message>
  <wsdl:message name="webAgregarLibretaSoapIn">
    <wsdl:part name="parameters" element="tns:webAgregarLibreta" />
  </wsdl:message>
  <wsdl:message name="webAgregarLibretaSoapOut">
    <wsdl:part name="parameters" element="tns:webAgregarLibretaResponse" />
  </wsdl:message>
  <wsdl:message name="webListarTareasSoapIn">
    <wsdl:part name="parameters" element="tns:webListarTareas" />
  </wsdl:message>
  <wsdl:message name="webListarTareasSoapOut">
    <wsdl:part name="parameters" element="tns:webListarTareasResponse" />
  </wsdl:message>
  <wsdl:message name="webListarLibretasSoapIn">
    <wsdl:part name="parameters" element="tns:webListarLibretas" />
  </wsdl:message>
  <wsdl:message name="webListarLibretasSoapOut">
    <wsdl:part name="parameters" element="tns:webListarLibretasResponse" />
  </wsdl:message>
  <wsdl:message name="webEliminarTareaSoapIn">
    <wsdl:part name="parameters" element="tns:webEliminarTarea" />
  </wsdl:message>
  <wsdl:message name="webEliminarTareaSoapOut">
    <wsdl:part name="parameters" element="tns:webEliminarTareaResponse" />
  </wsdl:message>
  <wsdl:message name="webEliminarLibretaSoapIn">
    <wsdl:part name="parameters" element="tns:webEliminarLibreta" />
  </wsdl:message>
  <wsdl:message name="webEliminarLibretaSoapOut">
    <wsdl:part name="parameters" element="tns:webEliminarLibretaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMantenedorClienteSoap">
    <wsdl:operation name="webGuardarCliente">
      <wsdl:input message="tns:webGuardarClienteSoapIn" />
      <wsdl:output message="tns:webGuardarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webEliminarCliente">
      <wsdl:input message="tns:webEliminarClienteSoapIn" />
      <wsdl:output message="tns:webEliminarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webActualizarCliente">
      <wsdl:input message="tns:webActualizarClienteSoapIn" />
      <wsdl:output message="tns:webActualizarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webListarCliente">
      <wsdl:input message="tns:webListarClienteSoapIn" />
      <wsdl:output message="tns:webListarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webBuscarCliente">
      <wsdl:input message="tns:webBuscarClienteSoapIn" />
      <wsdl:output message="tns:webBuscarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webBuscarTarea">
      <wsdl:input message="tns:webBuscarTareaSoapIn" />
      <wsdl:output message="tns:webBuscarTareaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webBuscarLibreta">
      <wsdl:input message="tns:webBuscarLibretaSoapIn" />
      <wsdl:output message="tns:webBuscarLibretaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webPosicionCliente">
      <wsdl:input message="tns:webPosicionClienteSoapIn" />
      <wsdl:output message="tns:webPosicionClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webRetornarCliente">
      <wsdl:input message="tns:webRetornarClienteSoapIn" />
      <wsdl:output message="tns:webRetornarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webAgregarTarea">
      <wsdl:input message="tns:webAgregarTareaSoapIn" />
      <wsdl:output message="tns:webAgregarTareaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webAgregarLibreta">
      <wsdl:input message="tns:webAgregarLibretaSoapIn" />
      <wsdl:output message="tns:webAgregarLibretaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webListarTareas">
      <wsdl:input message="tns:webListarTareasSoapIn" />
      <wsdl:output message="tns:webListarTareasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webListarLibretas">
      <wsdl:input message="tns:webListarLibretasSoapIn" />
      <wsdl:output message="tns:webListarLibretasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webEliminarTarea">
      <wsdl:input message="tns:webEliminarTareaSoapIn" />
      <wsdl:output message="tns:webEliminarTareaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="webEliminarLibreta">
      <wsdl:input message="tns:webEliminarLibretaSoapIn" />
      <wsdl:output message="tns:webEliminarLibretaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMantenedorClienteSoap" type="tns:WebServiceMantenedorClienteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webGuardarCliente">
      <soap:operation soapAction="http://tempuri.org/webGuardarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webEliminarCliente">
      <soap:operation soapAction="http://tempuri.org/webEliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webActualizarCliente">
      <soap:operation soapAction="http://tempuri.org/webActualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webListarCliente">
      <soap:operation soapAction="http://tempuri.org/webListarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarCliente">
      <soap:operation soapAction="http://tempuri.org/webBuscarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarTarea">
      <soap:operation soapAction="http://tempuri.org/webBuscarTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarLibreta">
      <soap:operation soapAction="http://tempuri.org/webBuscarLibreta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webPosicionCliente">
      <soap:operation soapAction="http://tempuri.org/webPosicionCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webRetornarCliente">
      <soap:operation soapAction="http://tempuri.org/webRetornarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webAgregarTarea">
      <soap:operation soapAction="http://tempuri.org/webAgregarTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webAgregarLibreta">
      <soap:operation soapAction="http://tempuri.org/webAgregarLibreta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webListarTareas">
      <soap:operation soapAction="http://tempuri.org/webListarTareas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webListarLibretas">
      <soap:operation soapAction="http://tempuri.org/webListarLibretas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webEliminarTarea">
      <soap:operation soapAction="http://tempuri.org/webEliminarTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webEliminarLibreta">
      <soap:operation soapAction="http://tempuri.org/webEliminarLibreta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMantenedorClienteSoap12" type="tns:WebServiceMantenedorClienteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="webGuardarCliente">
      <soap12:operation soapAction="http://tempuri.org/webGuardarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webEliminarCliente">
      <soap12:operation soapAction="http://tempuri.org/webEliminarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webActualizarCliente">
      <soap12:operation soapAction="http://tempuri.org/webActualizarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webListarCliente">
      <soap12:operation soapAction="http://tempuri.org/webListarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarCliente">
      <soap12:operation soapAction="http://tempuri.org/webBuscarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarTarea">
      <soap12:operation soapAction="http://tempuri.org/webBuscarTarea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webBuscarLibreta">
      <soap12:operation soapAction="http://tempuri.org/webBuscarLibreta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webPosicionCliente">
      <soap12:operation soapAction="http://tempuri.org/webPosicionCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webRetornarCliente">
      <soap12:operation soapAction="http://tempuri.org/webRetornarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webAgregarTarea">
      <soap12:operation soapAction="http://tempuri.org/webAgregarTarea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webAgregarLibreta">
      <soap12:operation soapAction="http://tempuri.org/webAgregarLibreta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webListarTareas">
      <soap12:operation soapAction="http://tempuri.org/webListarTareas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webListarLibretas">
      <soap12:operation soapAction="http://tempuri.org/webListarLibretas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webEliminarTarea">
      <soap12:operation soapAction="http://tempuri.org/webEliminarTarea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="webEliminarLibreta">
      <soap12:operation soapAction="http://tempuri.org/webEliminarLibreta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMantenedorCliente">
    <wsdl:port name="WebServiceMantenedorClienteSoap" binding="tns:WebServiceMantenedorClienteSoap">
      <soap:address location="https://localhost:44351/WebServiceMantenedorCliente.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMantenedorClienteSoap12" binding="tns:WebServiceMantenedorClienteSoap12">
      <soap12:address location="https://localhost:44351/WebServiceMantenedorCliente.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>